<h1>Sitename#contacts</h1>

<%= render 'patern_clock' %>   <!--берет форму из шаблона _patern_clock.erb -->

<%= link_to '<< back', _back_url %> |
<%= link_to '<< back1', route_url = '/sitename/home' %> |

<%= link_to 'главная', sitename_home_path %>          |
<%= link_to 'наши работы', sitename_our_work_path %>  |
<%= link_to 'заказать', sitename_order_path %>        |


