<h1>Editing article</h1>

<%= render 'form' %>

<p>
  <%= link_to '<< Back', articles_path, class: "back_link" %>
  <%= link_to "Comment wall", edit_article_path(@article, anchor: "wall"), class: "back_link" %><br/><br/>

  <%= link_to("Destroy", "http://www.example.com", method: :delete) %>  &nbsp;&nbsp;
  <%= link_to "Visit Other Site", "http://www.rubyonrails.org/", data: { confirm: "Are you sure?" } %>
</p>

<p>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci culpa cum cumque debitis deserunt dolorem dolores dolorum eum exercitationem fugiat iste minima, neque nostrum placeat, rem, tempora tenetur veniam? Tempora?
</p>
<p>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias asperiores atque error iste maxime molestiae mollitia nihil officiis praesentium quaerat, quam quas quibusdam quidem ratione tempore temporibus tenetur. Cum dicta dolor dolore ea laboriosam nam reiciendis repellat, similique vel? Ex, fugiat laudantium quam quod soluta vel! Aliquid fugiat incidunt quis?
</p>
<p>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci culpa cum cumque debitis deserunt dolorem dolores dolorum eum exercitationem fugiat iste minima, neque nostrum placeat, rem, tempora tenetur veniam? Tempora?
</p>
<p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias asperiores atque error iste maxime molestiae mollitia nihil officiis praesentium quaerat, quam quas <span id="wall">wall quibusdam quidem ratione tempore</span> temporibus tenetur. Cum dicta dolor dolore ea laboriosam nam reiciendis repellat, similique vel? Ex, fugiat laudantium quam quod soluta vel! Aliquid fugiat incidunt quis?
</p>
<p>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci culpa cum cumque debitis deserunt dolorem dolores dolorum eum exercitationem fugiat iste minima, neque nostrum placeat, rem, tempora tenetur veniam? Tempora?
</p>
<p>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias asperiores atque error iste maxime molestiae mollitia nihil officiis praesentium quaerat, quam quas quibusdam quidem ratione tempore temporibus tenetur. Cum dicta dolor dolore ea laboriosam nam reiciendis repellat, similique vel? Ex, fugiat laudantium quam quod soluta vel! Aliquid fugiat incidunt quis?
</p>
<p>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci culpa cum cumque debitis deserunt dolorem dolores dolorum eum exercitationem fugiat iste minima, neque nostrum placeat, rem, tempora tenetur veniam? Tempora?
</p>


<p>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias asperiores atque error iste maxime molestiae mollitia nihil officiis praesentium quaerat, quam quas quibusdam quidem ratione tempore temporibus tenetur. Cum dicta dolor dolore ea laboriosam nam reiciendis repellat, similique vel? Ex, fugiat laudantium quam quod soluta vel! Aliquid fugiat incidunt quis?
</p>